.carousel-inner {
    width: 100%;
}

.item {
    text-align: center;
}

.sprite {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../../Imagenes/ImagenesProject.png);
}

.Servicios-múltiples1 {
    width: 500px;
    height: 500px;
    background-position: -1000px -0px
}

.Servicios-múltiples2 {
    width: 500px;
    height: 500px;
    background-position: -500px -0px
}

.Servicios-múltiples3 {
    width: 500px;
    height: 500px;
    background-position: -0px -0px
}


