@model List<Project06.Models.sp_RetornaTipoCliente_Result>
@{
    ViewBag.Title = "TipoClienteLista";
}

<h2>Lista de Tipo de Clientes</h2>
<a href="~/TipoCliente/nuevoTipoCliente">Agregar nuevo tipo de Cliente</a>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>


    </tr>
    @{
        foreach (Project06.Models.sp_RetornaTipoCliente_Result posicionModelo in this.Model)
        {

            <tr>

                <td>@posicionModelo.nombre</td>
                <td>@posicionModelo.descripcion</td>

                <td>


                    <a href="~/TipoCliente/TipoClienteModifica?id_tipoCliente=@posicionModelo.id_tipoCliente">Modificar</a>
                    <br />
                    <a href="~/TipoCliente/TipoClienteElimina?id_tipoCliente=@posicionModelo.id_tipoCliente">Eliminar</a>

                </td>
            </tr>

        }

    
    }


</table>