@model Project06.Models.sp_RetornaMonedaID_Result

@{
    ViewBag.Title = "MonedasModifica";
}

<h2>MonedasModifica</h2>

<form id="frmMonedasModifica" method="post">
    <div class="form-group">
        <label>Nombre de tipo de cliente:</label>
        <input type="text" name="nombre" id="nombre" class="form-control" value="@Model.nombre" />
    </div>

    <div class="form-group">
        <label>Código:</label>
        <input type="text" name="codigo" id="codigo" class="form-control" value="@Model.codigo" />
    </div>

    <div class="form-group">
        <label>Tipo de cambio:</label>
        <input type="text" name="tipoCambio" id="tipoCambio" class="form-control" value="@Model.tipoCambio" />
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" id="btnAceptar" />
    </div>
    <a href="~/Monedas/MonedasLista">Regresar a la lista</a>
</form>

@section scripts{

}